<p-table [value]="products" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <span class="text-xl font-bold">Products</span>
      <p-button icon="pi pi-refresh" rounded raised />
    </div>
  </ng-template>
  <ng-template #header>
    <tr cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="columns"
        (cdkDropListDropped)="dropCol($event)">
      <th></th>
      @for (col of columns; track col) {
        <th cdkDrag>{{col}}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-product let-index='rowIndex'>
    <tr [pReorderableRow]="index">
      <td>
        <span class="pi pi-bars" pReorderableRowHandle></span>
      </td>
      @for (col of columns; track col) {
        <td>{{product[col]}}</td>
      }
    </tr>
  </ng-template>
</p-table>
